<article class="doc no-prose-lint">
<h1 class="page">{{{or page.title 'Page not found'}}}</h1>
<div class="paragraph">
<p>Sorry, we are almost sure you were not looking for this page.</p>
</div>
<div class="paragraph">
<p>Please try the top menu or search bar to find your way back.</p>
</div>
</article>
