<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#if (eq page.attributes.layout 'page-list')}}
    {{> page-list}}
{{else}}
    {{{page.contents}}}
{{/if}}
{{> pagination}}
</article>
