<main class="article">
 {{!-- {{> toolbar}} --}}
  {{> needs-improvement}}
  <div class="page_content">
    {{#if (eq page.layout '404')}}
      {{> article-404}}
    {{else}}
      {{#if (ne page.attributes.layout 'redoc')}}
        {{> toc}}
      {{/if}}
      {{> article}}
    {{/if}}
  </div>
</main>
