{{#unless (eq page.attributes.needs-improvement undefined)}}
<div class="needs-improvement">
    <div>
      <h5>This content needs improvements</h5>
      <ul>
      {{#each (needs page.attributes)}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
      <div class="improve-request">
        {{#with (discussLink site page)}}
        You are welcome to <a class="action" href="{{page.fileUri}}">edit this page</a>.
        You can also search for and contribute to
        <a class="action" href="{{searchUrl}}" target="discuss_search">previous discussions about this page</a>
        or
        <a class="action" href="{{createUrl}}" target="discuss_add">start a new one</a>
        .
        {{/with}}
      </div>
    </div>
</div>
{{/unless}}