@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.body {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 48px;
  max-width: 1296px;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  gap: 24px;
  padding: 0;
  position: relative;
}
