:root {
  /* Standard border color */
  --border-color: #d5d7da;

  /* Brand colors */
  --color-primary: #06aed4;
  --color-secondary: #6840c5;
  --color-tertiary: #15b79e;
  --color-error: #b00020;
  --color-info: #2196f3;
  --color-success: #12b76a;
  --color-warning: #fb8c00;

  /* Legacy color names for backwards compatibility */
  --color-peacock: var(--color-primary);
  --color-gecko: var(--color-tertiary);
  --color-fox: var(--color-warning);
  --color-starling: var(--color-secondary);
  --color-flamingo: #ce37aa;
  --color-frog: var(--color-success);
  --color-duckling: #e6d352;

  /* Axon tertiary colors */
  --color-pale-peacock: #9ecffc;
  --color-pale-gecko: #b6f5ed;
  --color-pale-fox: #fbcaad;
  --color-pale-starling: #cfccfe;
  --color-pale-flamingo: #ffccf3;
  --color-pale-frog: #baffbc;
  --color-pale-duckling: #f7efba;

  /* Axon greys colors */
  --color-dove: #fff;
  --color-seal: #f5f6f6;
  --color-mouse: #ecedee;
  --color-elephant: #a1a4aa;
  --color-rhino: #434a56;
  --color-ox: #21252b;

  /* overwrite default values */
  --font-awesome: "FontAwesome";
  --body-font-family: "Lato", sans-serif;
  --body-font-weight-bold: 700;
  --panel-background: var(--color-seal);
  --panel-border-color: var(--border-color);
  --navbar-background: var(--color-dove);
  --navbar-font-color: var(--color-ox);
  --navbar_hover-background: var(--color-dove);
  --navbar_button-background: var(--color-primary);
  --navbar_button-foreground: var(--color-dove);
  --navbar-menu_hover-background: var(--color-dove);
  --page-version-menu-background: var(--color-seal);
  --quote-border-color: var(--color-primary);
  --footer-background: var(--color-rhino);
  --footer-font-color: var(--color-seal);
  --footer-link-font-color: var(--color-dove);
  --link-font-color: #088ab2;
  --link_hover-font-color: #066d8c;
  --toc-border-color: var(--border-color);
  --heading-font-color: var(--color-ox);
  --heading-font-weight: 400;
  --alt-heading-font-weight: 400;
}
