<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    <div class="header_container">
      {{> banner}}
      {{> header}}
      {{> toolbar}}
    </div>
    <div class="content_container">
      {{> "component-list|body"}}
      {{> footer}}
    </div>
  </body>
</html>
