<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    <div class="header_container">
      {{> header}}
    </div>
{{{jsonStringify site}}}
{{> footer}}
  </body>
</html>
